<!DOCTYPE html>
<html>
  <title>Xin Yang's Homepage</title>

  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="sidebar">
        <div>
          <img :src="avaterUrl" alt="杨鑫" width="128" height="187" />
          <div>
            <h2>杨&nbsp;&nbsp;鑫</h2>
          </div>
          <p>
            大连理工大学&nbsp;计算机科学与技术学院
          </p>
          <p>
            教授&nbsp;博士生导师&nbsp;
          </p>
          <p v-for="content in contents">
            <a :href="'#'+content" style="color: white;">{{content}}</a>
          </p>
        </div>
      </div>
      <div class="content">
        <!-- About Me -->
        <div>
          <h2 id="About Me">About Me</h2>
          <el-divider></el-divider>
          <p>
            大连理工大学计算机科学与技术学院教授（破格），博士生导师，入选中国科协“青年人才托举工程”，国家“香江学者”计划，“星海优青”人才培育计划，辽宁省“百千万人才工程”，大连市创新人才培育计划“青年科技之星”。
          </p>
          <p>
            本科毕业于吉林大学计算机学院，获理科学士学位；于浙江大学-美国加州大学戴维斯分校计算机学院进行博士生联合培养，获工学博士学位；香港城市大学博士后。现任学校学科建设办公室副主任，分管学校双一流规划工作。
          </p>
          <p>
            主要研究方向为计算机图形学与视觉、智能机器人技术，专注于场景的高效表达、理解、感知与交互的研究。主持军口863项目、国家自然科学基金重大支持计划培育项目、面上项目等重要国家级项目，获得了国家自然科学基金委员会主办的“2018世界机器人大赛-共融机器人挑战赛”双臂协作机器人组亚军和“2018水下机器人目标抓取大赛”目标定点抓取组银奖，研究成果发表在NeurIPS、CVPR、ICCV、ECCV、IJCAI、IEEE
            Trans. On Multimedia、ACM TOMM、Graphical
            Model、I3D、EGSR、ICME等领域顶级会议和期刊上，获得2018年教育部技术发明二等奖1项，辽宁省自然科学技术成果奖1项，ACM
            SIGGRAPH VRCAI
            2015最佳论文奖1项。担任中国图学学会奖励工作委员会秘书长，中国计算机学会计算机辅助设计与图形学、中国图像图形学会智能图形、计算机视觉、三维视觉等专委会委员，中国图学学报编委，军委科技委XX组青年专家。担任第11届中国计算机学会会员代表，中国计算机学会YOCSEF大连执行委员（2019-2020），2017年中国科协第339次青年科学家论坛执行主席（北京），第十三届数字娱乐与虚拟现实大会（机器人与服务智能高峰论坛）程序委员会主席，两次承办并担任“中国图像图形学会走进大连”学术报告会执行主席，国际虚拟现实知名会议ACM
            SIGGRAPH VRCAI 2016（日本）墙报主席，ACM SIGGRAPH Asia 2016/2017
            Symposium on Education 程序委员会委员，IEEE HAVE
            2018（触听视觉计算）国际大会（迪拜）程序委员会主席，2020年International
            Conference on Virtual Reality(ICVR 2020)
            国际虚拟现实大会（新加坡）大会主席等。曾获
            “浙江省优秀博士”荣誉称号。
          </p>
          <p>
            主讲程序语言设计、计算机视觉等课程。围绕“大数据处理与分析技术”，编写清华大学出版社“新工科”教材2部。
          </p>
          <p>更多信息详见网站： <a :href="moreUrl">{{moreUrl}}</a></p>
          <el-divider></el-divider>
        </div>
        <!-- Research Projects -->
        <div>
          <h2 id="Research Projects">
            Research Projects
          </h2>
          <el-divider></el-divider>
          <p>
            In recent years, we are interested at developing AI techniques to
            support graphics and vision tasks, especially for robotics and
            virtual reality applications.
          </p>
          <ul v-for="project in projects">
            <li>
              <a :href="project.href">{{project.title}}</a>
            </li>
          </ul>
          <el-divider></el-divider>
          <p>
            主持
          </p>
          <ul v-for="project in projects1">
            <li>
              <p>{{project}}</p>
            </li>
          </ul>
          <el-divider></el-divider>
          <p>
            参与
          </p>
          <ul v-for="project in projects2">
            <li>
              <p>{{project}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          ks: ['Xin Yang', 'Yang Xin', '杨鑫'],
          avaterUrl:
            'http://faculty.dlut.edu.cn/__local/C/CC/5B/60B0CD69056E6E17F8987758DDD_20A6B25C_8429.jpg',
          moreUrl: 'http://faculty.dlut.edu.cn/yangxin/zh_CN/index.htm',
          contents: ['About Me', 'Research Projects'],
          projects: [
            {
              title: 'Mirror and Glass Detection/Segmentation',
              href: 'mirror_glass/MirrorGlassDetection.html',
            },
            {
              title: 'Low-light Image Analysis',
              href: 'enhancement/Low-lightImaging.html',
            },
            {
              title: 'Image-based 3D Indoor Scene Modeling',
              href: '3DV/reconstruction.html',
            },
            {
              title: 'Single Image Super-Resolution (SISR)',
              href: 'SR/SuperResolution.html',
            },
            {
              title: 'Image Matting',
              href: 'matting/Matting.html',
            },
            {
              title: 'Scene Understanding and Representation Learning',
              href: 'scene_understanding/SceneUnderstanding.html',
            },
            {
              title: 'Real-Virtual Consistent Traffic Flow Interaction',
              href: 'real_virtual/interaction.html',
            },
            {
              title: 'Photorealistic Rendering',
              href: 'photorealistic_rendering/PhotorealisticRendering.html',
            },
            {
              title: 'Saliency Detection',
              href: 'saliency_detection/SaliencyDetection.html',
            },
            {
              title: 'Other Research',
              href: 'other_research/OtherResearch.html',
            },
          ],
          projects1: [
            '国家863项目：作为网络化和云计算终端的机器人技术',
            '国家自然科学基金重大研究计划培育项目：面向动态非结构环境的共融机器人自然交互方法研究',
            '国家自然科学基金面上项目：高速且复杂光照环境下建筑物内部场景视觉快速重定位方法研究',
            '国家自然科学基金青年项目：面向运动模糊的场景组织方法',
            '辽宁省自然基金重点项目（新松机器人联合基金）：基于大数据的机器人三维视觉认知计算',
            '沈阳飞行设计研究所项目：空中场景智能体协同对抗仿真与交互',
            '大连市科技之星项目：机器人场景数据采集与分析系统',
            '大连市科技创新基金 (应用基础研究项目)：基于室内目标三维感知的机器人智能交互方法研究',
            '中国博士后科研基金项目：场景层次包围盒设计与研究',
            '浙江大学CAD&CG国家重点实验室开放课题：数据驱动的三维场景建模技术研究',
            '浙江大学CAD&CG国家重点实验室开放课题：大规模交通车辆动画仿真',
            '华为公司项目：基于深度神经网络的HDR视频处理技术',
            '微软公司项目：Large-scale Location Data Query Algorithm Design and Implementation',
            '黄河水利科学研究院项目：冰凌图像处理软件',
            '谷歌-教育部产学合作项目：会飞的盘子',
            '触控-教育部产学合作项目：C++与游戏设计',
            '北京我爱刷牙科技有限公司：智能体感牙刷（该产品已经上市 https://item.taobao.com/item.htm?spm=a230r.1.14.32.518a1d6bdXVreO&id=565185721749&ns=1&abbucket=18#detail）',
          ],
          projects2: [
            '国家自然科学基金重点项目：基于视觉和语义的室内场景理解与实时建模',
            '军委科技委前沿创新重点项目：未来城市作战支撑技术',
            '国家自然科学委-辽宁省联合基金重点项目（与沈阳新松机器人公司联合）：仿人灵巧手操作规划方法研究',
            '国家自然科学基金重大研究计划培育项目：健康服务管理与决策大数据融合方法与实时分析研究',
            '国家自然科学基金项目：面向多媒体大数据的PDE学习理论与算法',
            '海信公司项目：城市级交通仿真三维可视化展示平台',
          ],
        }
      },
      methods: {
        textBold(s) {
          for (var i = 0; i < this.ks.length; ++i) {
            const k = this.ks[i]
            if (s.indexOf(k) != -1) return s.replace(k, '<b>' + k + '</b>')
          }
          return s
        },
      },
    })
  </script>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    p {
      line-height: 30px;
    }

    h2 {
      text-align: center;
    }

    h3 {
      text-align: center;
    }

    i {
      font-size: 14px;
      clear: left;
    }

    .figure_img {
      max-width: 70%;
    }

    .sidebar {
      position: fixed;
      width: 280px;
      padding: 10px;
      height: 100%;
      background-color: #272727;
      color: white;
      top: 0px;
      bottom: 0;
      text-align: center;
    }

    .content {
      position: fixed;
      min-width: 300px;
      padding: 10px 40px 10px 40px;
      left: 300px;
      right: 0;
      overflow-y: auto;
      overflow-x: hidden;
      top: 0px;
      bottom: 0;
    }
  </style>
</html>
