<!DOCTYPE html>
<html>
  <title>Other Research</title>

  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div id="app">
      <el-page-header @back="goBack" title="Back"> </el-page-header>
      <!-- Other Research -->
      <div>
        <h1>
          Other Research
        </h1>
        <el-divider></el-divider>
        <div v-for="project,index in projects">
          <p style="background-color: rgb(242, 244, 225);">
            <span
              v-html="textBold(project.authors)"
              style="font-size: 14px;"
            ></span>
            <b style="font-size: 18px;">{{project.title}}</b>
            <b style="color: #006699; font-size: 16px;">{{project.tag[0]}}</b
            ><span style="font-size: 14px;">{{project.tag[1]}}</span>
            <b style="color: #006699; font-size: 16px;">{{project.tag[2]}}</b>
            <span v-for="link in project.links"
              >[<b
                ><a style="color: #006699; font-size: 18px;" :href="link.link"
                  >{{link.name}}</a
                ></b
              ><span>]&nbsp;</span></span
            >
          </p>
          <div v-for="img in project.imgs" style="text-align: center;">
            <img :src="'figures/'+img" :alt="img" class="figure_img" />
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          ks: ['Xin Yang', 'Yang Xin', '杨鑫'],
          projects: [
            {
              authors: '杨鑫, 王大维, 王宇新, 白鑫, 葛宏伟, 夏浩.',
              title: '互补MOOC的主动式课堂建设方法探究.',
              tag: ['', '《现代教育技术》. 2017, 27(1)：31-37.', '(CSSCI收录)'],
              imgs: ['互补MOOC的主动式课堂建设方法探究.png'],
            },
          ],
        }
      },
      methods: {
        textBold(s) {
          for (var i = 0; i < this.ks.length; ++i) {
            const k = this.ks[i]
            if (s.indexOf(k) != -1) return s.replace(k, '<b>' + k + '</b>')
          }
          return s
        },
        goBack() {
          window.location.href = '../index.html#Research Projects'
        },
      },
    })
  </script>
  <style>
    body {
      margin: 0;
      padding: 10px 40px 10px 40px;
    }

    p {
      line-height: 30px;
    }

    h1 {
      text-align: center;
    }

    i {
      font-size: 14px;
      clear: left;
    }

    .figure_img {
      max-width: 80%;
    }
  </style>
</html>
